@import "tailwindcss";

@import "tw-animate-css";

:root {
  --radius: 0.625rem;
  --background: url("public/purplebg.jpeg");
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 80px;
  font-family: "barbie";
  color: #3d155c;
  text-shadow: 4px 3px #e8d3fa;
}

h2 {
  font-size: 40px;
  font-family: "barbie";
  color: #3d155c;
  text-shadow: 4px 3px #e8d3fa;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #000000;
    background-image: url("public/purplebg.jpeg");
  }
}
