@import "tailwindcss";

@import "tw-animate-css";

:root {
  --radius: 0.625rem;
  --background-image: url('dist/purplebg.jpeg');

}

body {
  background-image: url('dist/purplebg.jpeg');
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}

p {
  font-family: "Lucida Console", Courier, monospace;
}

h1 {
  font-size: 80px;
  font-family: "barbie";
  color: #370361;
  text-shadow: 4px 3px #ad9abf;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(92, 64, 112);
}

h2 {
  font-size: 40px;
  font-family: "barbie";
  color: #3d155c;
  text-shadow: 4px 3px #e8d3fa;
}

.pixel-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.pixel-scrollbar::-webkit-scrollbar-track {
  background: #d8b4fe; /* Light purple */
  image-rendering: pixelated;
}

.pixel-scrollbar::-webkit-scrollbar-thumb {
  background: repeating-linear-gradient(
    45deg,
    #7e22ce,
    #7e22ce 2px,
    #a855f7 2px,
    #a855f7 4px
  );
  border-radius: 0;
  image-rendering: pixelated;
  border: 2px solid #6b21a8;
}

.pixel-scrollbar::-webkit-scrollbar-thumb:hover {
  background: repeating-linear-gradient(
    45deg,
    #a855f7,
    #a855f7 2px,
    #c084fc 2px,
    #c084fc 4px
  );
}

@media (prefers-color-scheme: light) {
  :root {
    color: #000000;
    background-image: url('dist/purplebg.jpeg');
  }
}
